* {
  margin: 0;
  padding: 0;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#title {
  text-align: center;
  margin-top: 40px;
}

#main-container {
  border-bottom: solid 2px rgba(220, 202, 0, 0.758);
  border-top: solid 2px rgba(220, 202, 0, 0.758);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.child {}

.box:hover .child {
  transform: scale(1.1);
  padding: 3%;

}

nav {
  border-bottom: solid black 2px;
  text-align: center;
}


li {
  list-style: none;
  padding: 10px;
  display: inline-block;
}