* {
  margin: 0;
  padding: 0;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

#main-container {
  border-bottom: solid 2px rgba(220, 202, 0, 0.758);
  border-top: solid 2px rgba(220, 202, 0, 0.758);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.box:hover .child {
  transform: scale(1.1);
  padding: 3%;

}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

nav {
  border-bottom: solid black 2px;
  text-align: center;
}


ul p {
  list-style: none;
  padding: 10px;
  display: inline-block;
}

#cart {
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}

#login-text {
  position: absolute;
  top: 20px;
  right: 150px;
}
#whislisttop{
      position: absolute;
      top: 20px;
      right: 80px;
      background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
}

.form {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  padding-bottom: 150px;
  margin-top: 20px;
  border-bottom: solid 2px rgba(220, 202, 0, 0.758);

}

#message {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 40px;
}

#itemSecondHand {
  padding: 8px;
  box-sizing: border-box;
  font-size: 25px;
  height: 250px;
}

#displayArea {
  display: flex;
  justify-content: center;
  font-size: large;
}

#men-menu {
  cursor: pointer;

}

#women-menu {
  cursor: pointer;
}

#kids-menu {
  cursor: pointer;
}

#sale-menu {
  color: red;
  cursor: pointer;
}

#brands-menu {
  cursor: pointer;
}

#skateboards-menu {
  cursor: pointer;
}

.created-div {
  display: none;
}

.newDivStyle {
  display: flex;
  background-color: blue;
  height: 100px;
  width: 100px;
}

#footerUpper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#lowerFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#companyInfo {
  margin-left: 10%;
  width: 30%;
}

#contactAndAdress {
  margin-right: 10%;
}

#connect {
  margin-left: 10%;
}

#socialMedia {
  margin-right: 10%;
}

#socialMedia img {
  width: 30px;
}

#footerUl li {
  display: block;
}

#dropdown {
  display: none;
}

#close {
  display: none;
}

@media (max-width: 600px) {
  .box {
      width: 70%;
      margin-left: auto;

      margin-right: auto;
  }

  #dropdown {
      display: block;
  }
}

@media (min-width: 600px) {
  #close {
      display: none !important;
  }

  #dropdown {
      display: none !important;
  }

  #menu-div p {
      display: inline-block;
  }
}

@media (max-width: 600px) {
  .box {
      width: 70%;
      margin-left: auto;

      margin-right: auto;
  }

  #dropdown {
      display: block;
      width: 40px;
  }

  #close {
      display: none;
      width: 30px;
  }

  #menu-div {
      display: flex;
      flex-direction: column;
      text-align: center;
      z-index: 4;
  }

  .hover-target {
      display: none;
      background-color: #ffffff;
      width: 100%;
  }
}
